.newsCon {
    padding: 5px;
}
.newsItem {
    height: .8rem;
    display: flex;
    flex-direction: row;
    background: rgb(255, 255, 255);
    padding:10px 0px;
    /* border-bottom: 1px solid #ccc; */
    position: relative
}
.newsItem::after,.newsItem-one::after{
    position: absolute;
    left: 0px;
    content: "";
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: #ccc;
    transform: scaleY(.5);
}
.content-left {
    width: 80%;
    padding: 2px 0px;
    display: flex;
    flex-direction: column;
}
.content-left-top {
    width: 95%;
    height: 56px;
    /* padding: 2px 0px; */
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: .115rem;
}
.content-left-bottom {
    /* background: rgb(90, 60, 60); */
    width: 95%;
    height: 20px;
    padding: 2px 0px;
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
    justify-content: space-between;
}
.tip{
    width: .3rem;
    height: 18px;
    font-size: 12px;
    line-height: 17px;
    border: 1px solid #f26464;
    border-radius: 2px;
    color: #f37399;
    font-weight: 100;
    text-align: center;
    display: inline-block;
}
.feedback{
    margin-left: 10px;
    color: #2c3e50;
    font-size: .1rem;
    line-height: 21px;
}
.zan {
    display: inline-block;
    flex-direction: row;
    justify-content: space-between;
    font-size: .1rem;
}
.content-right {
    width: 1.2rem;
    height: .78rem;
    margin: auto;
    border-radius: 2px;
    overflow: hidden;
}
.right-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.marvellous{
    margin-bottom:.35rem;
}
.new.top{

}
.newsItem-one {
    height: 1.45rem;
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    /* border-bottom: 1px solid #ccc; */
    position: relative
}
.newsItem-one-top{
    height: .35rem;
    /* padding: 2px 0px; */
    text-align: left;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: .115rem;
    margin-top: 3px;
}
.newsItem-one-center{
    height: .7rem;
    display: flex;
    justify-content: space-between;
}
.newsItem-one-bottom{
    height: .3rem;
}


.mint-indicator-spin {
    display: block !important;
}
.mint-spinner-snake,.mint-spinner-fading-circle {
    margin:auto!important;
}



/* 文章详情 */
.hot-header {
    position: relative;
    height: .25rem;
    font-size: .15rem;
    line-height: .25rem;
    padding-left: .1rem;
    text-align: left;
    margin: .1rem 0;
  }
  .hot-header::before{
    position: absolute;
    content:"";
    width:2px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: red;
  }
  .article-main {
    padding: 0px .1rem;
  }
  .article-title {
      /* padding: 2px 0px; */
      text-align: left;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      font-size: .18rem;
      margin-top: 3px;
      white-space:normal;
      word-wrap:break-word
  }
    .article-header{
      margin-top: 40px;
    }
    .article-header-bottom{
      display: flex;
      font-size: 0.12rem;
      color: #888;
      justify-content: space-between;
      height: 25px;
    }
    .article-content{
       text-align: left;
      font-size: .15rem;
      margin-top: 3px;
      white-space:normal;
      word-wrap:break-word;
      padding-bottom: .5rem;
    }
    .feed-list {
        display: flex;
        flex-direction: row;
        padding: .05rem 0;
        padding-bottom: .1rem;
        position: relative;
    }
    .feed-list::after{
        position: absolute;
        left: 0px;
        content: "";
        bottom: 0px;
        width: 100%;
        height: 1px;
        background: #ccc;
        transform: scaleY(.5);
    }
    .feed-list-left {
        width: .5rem;
        padding: .05rem;
    }
    .user-avtor{
        width: .35rem;
        height: .35rem;
        border-radius: .35rem;
        border: none;
        object-fit: cover;
    }
    .feed-info {
        display: flex;
        flex-direction: column;
    }
    .user-name {
        font-size: .12rem;
        color: #333;
    }
    .feed-time {
        font-size: .12rem;
        color: #888;
    }
    .feed-list-right{
        width: 100%;
        
    }
    .list-right-top{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: .5rem;
    }
    .feed-info{
        text-align: left;
        justify-content: space-around;
    }
    .zan-con {
        line-height: .5rem;
        font-size: .12rem;
    }
    .list-right-bottom {
        max-height: .94rem;
        text-align: left;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5;
        overflow: hidden;
        margin-top: 3px;
        white-space:normal;
        word-wrap:break-word;
        font-size: .14rem;
        overflow: hidden;
    }
    .seeMore{
        font-size: .14rem;
    margin-top: .1rem;
    }
    .zanColor{
        color: red;
    }
    .articleFoot{
        position: fixed;
        width: 100%;
        height: .35rem;
        background: #fff;
        bottom: 0px;
        display: flex;
        justify-content: space-between;
    }
    .articleFoot::before{
        position: absolute;
        left: 0px;
        content: "";
        top: 0px;
        width: 100%;
        height: 1px;
        background: #ccc;
        transform: scaleY(.5);
    }
    .feed-box{
        width: 40%;
        height: .29rem;
        border-radius: .03rem;
        background: #f2f2f2;
        margin-top: .03rem;
        margin-left: .1rem;
        text-align: left;
        padding-left: .1rem;
        line-height: .29rem;
        color: #333;
        font-size: .12rem;
    }
    .feed-info-box{
        font-size: .12rem;
        margin-right: .1rem;
        display: flex;
        flex-direction: row;
        line-height: .35rem;
    }
    .feed-commentfill{
        color: red;
    }
    .mint-popup-4{
        width: 100%;
    }
    textarea{
        resize:none ;
    }
    .max-num{
        position: absolute;
        right: .05rem;
        bottom: .05rem;
        font-size: .12rem;
        color: #c5c5c5;
    }
    .feed-top{
        height: .30rem;
        width: 100%;
        padding-right: .1rem;
        border-bottom: 1px solid #f2f2f2;
    }
    .feed-btn{
        float:right;
        margin-right:.1rem;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: .03rem;
        font-size: .12rem;
        padding: .03rem;
        margin: .03rem;
    }
    .click-btn{
        border: 1px solid #5864f7;
        color: #5864f7
    }



    /* 新闻页 */
    .topWrapper {
        width: 100%;
        padding: 0;
        height: .25rem;
        overflow: hidden;
    }
    .topWrapper ul{
        width: auto;
        display: flex;
        flex-direction: row;
        list-style: none;
        padding: 0;
        flex-flow: nowrap;
        margin: 0;
        height: .25rem;
        position: relative;
        
    }
    .bottom-line{
        width: .3rem;
        position: absolute;
        height: 1px;
        background: #5864f7;
        bottom: 0px;
        transition: .3s linear;
    }
    .topWrapper ul li{
        /* padding: .02rem .05rem; */
        color: #333;
        font-size: .12rem;
        line-height: .25rem;
        width: .6rem;
        float: left;
    }

    .bottomWrapper{
        width: 100%;
        height:calc(100% - 0.25rem);
        overflow: hidden;
    }
    .new-item{
        float: left;
        position: relative;
        height: 100%;
        padding: 0px;
        height: 300px;
        color: #fff;
        line-height: 300px;
    }
    .new-item::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 100%;
        background: #f2f2f2;
        top: 0px;
        right: 0px;
    }


    .header-title{
        font-size: .12rem;
        color: #2c3e50;
        text-align: left;
    }

    .type-list{
        /* display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: space-between; */
        margin: .2rem 0;
        
    }
    .item-box{
        float: left;
    }
    .item-con{
        position: relative;
        width: .6rem;
        height: .3rem;
        line-height: .3rem;
        font-size: .14rem;
        color: #2c3e50;
        text-align: center;
        background: rgba(0,0,0,.05);
        border-radius: .03rem;
        font-size: .12rem;
        margin-bottom: .1rem;
        
    }
    .item-con .icon-guanbi2{
        position: absolute;
        right: -.05rem;
        top: -.05rem;
        display: inline-block;
        width: .12rem;
        height: .12rem;
        background: #fff;
        border-radius: 50%;
        overflow: hidden;
        font-size: .12rem;
        line-height: .12rem;
    }